{% extends "base.html" %}
{% load static %}

<head>
    <link rel="stylesheet" href="home.css">
</head>

{% block page_content %}

<img class="img-fluid" src="{% static 'img/bg2.png' %}" aria-label="background" />
<div class="carousel-caption">
    <div class="container">
        <div class="row justify-content-md-center">
            <h1 style="font-size: 60px"><b>Welcome</b></h1>
        </div>
        <div class="row justify-content-md-center" style="margin-bottom: 48vh;">
            <h4>My name is Thomas Claxton and I am a Chicago-based Software Developer.</h4>
        </div>
    </div>
</div>

{% endblock %}
