{% extends "base.html" %}
{% load static %}

{% block page_content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Thomas Claxton's Projects</title>
</head>

<div class="container">
    <h1> Projects </h1>
    <div class="row">
        {% for project in projects %}
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <img class="card-img-top" src="{{ project.image.url }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description | slice:":200" }}...</p>
                        <a href="{% url 'project_detail' project.pk %}"
                        class="btn btn-primary">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

</html>
{% endblock %}
