{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="{% static 'img/favicon.ico' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<style>
  a {
    color: #29b6f6;
  }

  a:hover {
    color: #ce93d8;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
  style="color: #303030; margin-bottom: 12px;">
  <ul class="navbar-nav mr-auto">
      <a class="navbar-brand" href="{% url 'home' %}">claxtastic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Home link -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>

      <!-- Projects link -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'project_index' %}">Projects</a>
      <li class="nav-item">

      <!-- Blog link -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog_index' %}">Blog</a>
      </li>
  </ul>
</nav>

<body style="background-color: #222222; color: #ffffff;">
  <div class="container-fluid">
      {% block page_content %}{% endblock %}
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
